/* Reset default styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    /* Using white as requested */
    font-family: Arial, sans-serif;
}

.messaging-app {
    display: flex;
    height: 100vh;
    /* Full height of the viewport */
}

/* Set up the sidebar with a background color, text color, and padding */
.contacts-sidebar {
    width: 25%;
    border-right: 1px solid #ccc;
}

/* Style the sidebar header to display its children inline */
.contacts-sidebar-header {
    display: flex;
    /* Use flexbox for layout */
    /* justify-content: space-between; */
    /* Space out the search bar and new chat button */
    align-items: center;
    /* Vertically center items in the header */

    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

/* Style the search container for the input and search button */
.contacts-search-bar {
    display: flex;
    /* Align the search input and button inline */
    padding-left: 1rem;
    width: 80%
    /* Allow the search container to fill the space */
}

/* Style the search input field */
.contacts-search-bar input[type="text"] {
    width: 100%;
    /* Full width of the container */
    padding: 0.5rem;
    /* Padding inside the input field */
    border: 1px solid #333;
    /* Border to make it stand out */
    border-radius: 4px;
    /* Rounded corners */
}

.create-chat-btn-container {
    display: flex;
    justify-content: center;
    /* Aligns the button to the right */
    width: 20%;
    /* Takes the full width of its parent */
}

.contacts-search-bar, .create-chat-btn-container {
    height: 36px;
}

/* Style the create chat button */
.create-chat-btn {
    /* display: flex; */
    flex-grow: 0.3;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* Padding inside the button */

    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded pill shape */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 1.5rem;
    /* Larger font size for the plus icon */
    /* width: 30%; */

    /* padding: 10px 20px; */
    /* equal top/bottom and left/right padding */
    /* line-height: 1; */

    background-color: #007bff;
    /* example background color */
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.9;
    /* Slightly transparent on hover */
}

/* Reset list styles and add padding */
.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style each contact item */
.contact {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    height: 80px;
    /* Separator between contacts */
}

/* Style the avatar image */
.contact-photo {
    height: 100%;
    border-radius: 50%;
    /* Circular shape */
    overflow: hidden;
    /* Ensures the image doesn't overflow the circular shape */
    margin-right: 10px;
    /* Space between avatar and text */
}

/* The image inside the avatar div */
.contact-photo img {
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

/* Style the contact's name and last message */
.contact-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    font-size: 1.06rem;
    gap: 2px;
    /* Allows the text to take up the available space */
}

.contact-name {
    font-weight: bold;
    /* Make the name stand out */
}

.last-message {
    color: #666;
    /* A lighter color for the last message */
    font-size: 0.9em;
    /* A smaller font size */
}

.message-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: end;
    height: 100%;       
}

/* Style the timestamp */
.last-message-time {
    color: #666;
}

/* Unread message indicator */
.unread-indicator {
    background-color: #007bff;
    /* Blue background for the indicator */
    color: white;
    /* White text color */
    border-radius: 50%;
    /* Circular shape */
    /* padding: 5px; */
    /* Padding inside the indicator */
    font-size: 1rem;
    /* Smaller font size */
    display: flex;
    /* To center the content */
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    width: 1.4rem;
    /* Fixed width */
    height: 1.4rem;
    /* Fixed height */
    min-width: 1.4rem;
    /* Ensure it doesn't shrink smaller than content */
}




/* ------------------- Chat area styles -------------------*/
.chat-area {
    display: flex;
    flex-direction: column;
    width: 75%;
    /* Set a fixed width for the chat area or adjust as needed */
    height: 100vh;
    border-left: 1px solid #ccc;
    /* Border to separate from the rest of the interface */
}

/* Chat header styles */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
}

.chat-photo-name-container {
    display: flex;
    align-items: center;
}

.chat-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.chat-photo img {
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}
/* 
.chat-name-status {
    flex-grow: 1;
    padding-left: 10px;
} */

.chat-name {
    font-weight: bold;
}

.chat-options {
    /* Placeholder for chat options like search or menu */
}

/* Message container styles */
.message-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #e5e5e5;
}

.message {
    display: flex;
    max-width: 60%;
    /* Set the max width for each message */
    min-width: 0;
    /* This ensures that the width can shrink below content size if needed */
    word-wrap: break-word;
    /* This will wrap long words onto the next line */
    margin-bottom: 10px;
    padding: 7px;
    background-color: #fff;
    /* White background for messages */
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Soft shadow for messages */
    align-self: flex-start;
    /* Aligns messages to the start of the flex container */
}

.message-content {
    margin-left: 5px;
    margin-right: 10px;
}

.message-time {
    color: #999;
    font-size: 0.8rem;
    margin-right: 5px;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
}

/* Chat footer styles */
.message-input-area {
    display: flex;
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
}

.message-input-area input[type="text"] {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 5px 10px;
    margin-right: 10px;
}

.send-message {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 5px 15px;
    cursor: pointer;
}

/* Add any additional styles or media queries as needed */